## Motor Vehicle Collisions

The following notebook downloads the [NYPD Motor Vehicle Collisions dataset](https://data.cityofnewyork.us/Public-Safety/NYPD-Motor-Vehicle-Collisions/h9gi-nx95) (part of the NYC Open Data initiative) and cleans it for the purposes of analysis.

In [13]:
import pandas as pd
from pandas import DataFrame
import geocoder
import requests
import arrow
import math
import ratelim
import time

In [2]:
# Not currently working: https://github.com/JosPolfliet/pandas-profiling/issues/5
# import pandas_profiling

In [3]:
def download_file(url, filename):
    """
    Helper method handling downloading large files from `url` to `filename`. Returns a pointer to `filename`.
    """
    r = requests.get(url, stream=True)
    with open(filename, 'wb') as f:
        for chunk in r.iter_content(chunk_size=1024): 
            if chunk: # filter out keep-alive new chunks
                f.write(chunk)
    return filename

In [4]:
dat = download_file("https://data.cityofnewyork.us/api/views/h9gi-nx95/rows.csv?accessType=DOWNLOAD",
                    "NYPD Motor Vehicle Collisions.csv")

In [5]:
# Column 23 is UNIQUE KEY.
df = pd.read_csv(dat, index_col=23)

In [6]:
pd.set_option('display.max_columns', None)

In [7]:
df.head(10)

,DATE,TIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,LOCATION,ON STREET NAME,CROSS STREET NAME,OFF STREET NAME,NUMBER OF PERSONS INJURED,NUMBER OF PERSONS KILLED,NUMBER OF PEDESTRIANS INJURED,NUMBER OF PEDESTRIANS KILLED,NUMBER OF CYCLIST INJURED,NUMBER OF CYCLIST KILLED,NUMBER OF MOTORIST INJURED,NUMBER OF MOTORIST KILLED,CONTRIBUTING FACTOR VEHICLE 1,CONTRIBUTING FACTOR VEHICLE 2,CONTRIBUTING FACTOR VEHICLE 3,CONTRIBUTING FACTOR VEHICLE 4,CONTRIBUTING FACTOR VEHICLE 5,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2,VEHICLE TYPE CODE 3,VEHICLE TYPE CODE 4,VEHICLE TYPE CODE 5
UNIQUE KEY,,,,,,,,,,,,,,,,,,,,,,,,,,,,
3405169,03/14/2016,3:27,QUEENS,11372.0,40.747734,-73.882999,"(40.7477341, -73.8829986)",ROOSEVELT AVENUE,83 STREET,NaN,1,0,1,0,0,0,0,0,Unspecified,NaN,NaN,NaN,NaN,OTHER,NaN,NaN,NaN,NaN
3405070,03/14/2016,2:40,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0,0,0,0,Other Vehicular,Unspecified,NaN,NaN,NaN,PASSENGER VEHICLE,OTHER,NaN,NaN,NaN
3405059,03/14/2016,0:45,MANHATTAN,10035.0,40.808279,-73.938793,"(40.8082795, -73.9387929)",EAST 129 STREET,MADISON AVENUE,NaN,0,0,0,0,0,0,0,0,Unspecified,Unspecified,NaN,NaN,NaN,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN
3405134,03/14/2016,2:00,NaN,NaN,NaN,NaN,NaN,PULASKI BRIDGE,EAGLE STREET,NaN,0,0,0,0,0,0,0,0,Unspecified,Unspecified,NaN,NaN,NaN,PASSENGER VEHICLE,OTHER,NaN,NaN,NaN
3404661,03/13/2016,1:50,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0,0,0,0,Unspecified,NaN,NaN,NaN,NaN,SPORT UTILITY / STATION WAGON,NaN,NaN,NaN,NaN
3404800,03/13/2016,1:21,BROOKLYN,11215.0,40.677834,-73.988254,"(40.6778345, -73.9882541)",NEVINS STREET,CARROLL STREET,NaN,0,0,0,0,0,0,0,0,Unspecified,Unspecified,NaN,NaN,NaN,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN
3405060,03/13/2016,22:05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0,0,0,0,Driver Inattention/Distraction,Unspecified,NaN,NaN,NaN,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN
3405144,03/13/2016,22:10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PARKING LOT OF 79-15 MAIN STREET,0,0,0,0,0,0,0,0,Other Vehicular,Unspecified,NaN,NaN,NaN,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN
3404950,03/13/2016,22:18,QUEENS,11434.0,40.672385,-73.785739,"(40.6723848, -73.7857391)",BAISLEY BOULEVARD,ROCKAWAY BOULEVARD,NaN,0,0,0,0,0,0,0,0,Unspecified,Unspecified,NaN,NaN,NaN,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN
3405072,03/13/2016,22:50,NaN,NaN,NaN,NaN,NaN,EAST GUN HILL ROAD,KINGSLAND AVENUE,NaN,0,0,0,0,0,0,0,0,Alcohol Involvement,Alcohol Involvement,Unspecified,NaN,NaN,PASSENGER VEHICLE,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN

In [8]:
len(df)

769054

In [9]:
df.count(axis=0)

DATE                             769054
TIME                             769054
BOROUGH                          584753
ZIP CODE                         584686
LATITUDE                         647867
LONGITUDE                        647867
LOCATION                         647867
ON STREET NAME                   655435
CROSS STREET NAME                655435
OFF STREET NAME                   23792
NUMBER OF PERSONS INJURED        769054
NUMBER OF PERSONS KILLED         769054
NUMBER OF PEDESTRIANS INJURED    769054
NUMBER OF PEDESTRIANS KILLED     769054
NUMBER OF CYCLIST INJURED        769054
NUMBER OF CYCLIST KILLED         769054
NUMBER OF MOTORIST INJURED       769054
NUMBER OF MOTORIST KILLED        769054
CONTRIBUTING FACTOR VEHICLE 1    767363
CONTRIBUTING FACTOR VEHICLE 2    676675
CONTRIBUTING FACTOR VEHICLE 3     49848
CONTRIBUTING FACTOR VEHICLE 4     10256
CONTRIBUTING FACTOR VEHICLE 5      2569
VEHICLE TYPE CODE 1              768105
VEHICLE TYPE CODE 2              688860
VEHICLE TYPE CODE 3               49989
VEHICLE TYPE CODE 4               10260
VEHICLE TYPE CODE 5                2570
dtype: int64

Some observations:
* `UNIQUE KEY` is the `Index`.
* Datetime is split across `Date` and `Time`, Tableau expects them to be combined in its input and messes things up if it is not.
* One of `On Street Name`, `Off Street Name`, `Cross Street Name`, or `Location` is *almost* always present.

  In the exceptional cases there is nothing that can be done with this entry, as it has no identifiable location tag, so we will have to throw the entry out.
  
  Otherwise we can populate all other location-tagged parameters using geocoding or reverse geocoding.
* Contibuting factors, injuries to parties, and datetime information is always complete.

Step one, merge date and time into datetime. This query takes a LONG time to run.

In [10]:
def merge_datetime(srs):
    """
    Pandas ufunc which operates on a Pandas series, merging the date and time in-place into a `datetime` axis.
    ex. Series(['03/13/2016', '2:10']) -> Series(['2016:03:13:2:10', NaN])
    """
    date = arrow.get(srs['DATE'])
    time = srs['TIME']
    date = str(date.replace(hours=int(time[:time.index(":")]),
                            minutes=int(time[time.index(":") + 1:]),
#                           tzinfo='EST'
                           ))[:-6].replace('T', ' ') # Tableau has a quite specific time format...
    srs['DATE'] = date
    srs = srs.drop('TIME')
    srs = srs.rename({'DATE': 'DATETIME'})
    return srs

In [11]:
def timer(func):
    def wrapper(n):
        start_time = time.time()
        ret = func(n)
        print("Average runtime: " + str((time.time() - start_time) / n) + " seconds.")
        return ret
    return wrapper

@timer
def head_timer(n):
    df.head(n).apply(merge_datetime, axis=1)

In [14]:
head_timer(1000)

Average runtime: 0.001969606161117554 seconds.

Which is pretty fast, but remember that we have three-quarter of a million rows. Which means that this query will actually take **over 20 minutes**.

In [15]:
(0.0017 * len(df)) / 60

21.789863333333333

Oh well.

In [16]:
filtered_df = df.copy()
filtered_df = filtered_df.apply(merge_datetime, axis=1)

It would be far too costly to complete the record by geocoding every single missing geographic entry in the dataset, so instead we will geocode only the ones that we absolutely need: reports which resulted in injuries or deaths.

Spot-estimated geocoding API usage for all Injury OR Death reports in the dataset: this eats up to half of the Google Geocoding API's 25000 daily requests rate limit.

This is an estimate of the number of incident records in the dataset which result in injuries or deaths but are filed without coordinate data.

In [17]:
(15/1000)*len(df)

11535.81

Spot-estimated geocoding API usage for all Death (ONLY) reports in the dataset. Incomplete records of deaths occur two orders of magnitude less often than those of injuries.

This is an estimate of the number of incident records in the dataset which result in deaths but are filed without coordinate data.

In [18]:
(2/10000)*len(df)

153.8108

With ~12000 records outstanding, it seems reasonable to assume that injurous accident coordinate data is underfiled with approximately the same distribution as non-injurous accident unfiling.

Said another way, there are so many records outstanding that we can simply assume that those records which *do* have coordinate data are a representative sample of records missing that data.

Any summary statistics that we gather based on geographical coordinality (borough, district, etc.) will be significant undercounts, but will nevertheless be a more than acceptable enough sample from which to draw conclusions about the underlying data.

At issue is the fact that the data on "Injuries" is plenty but that on "Deaths" is scarce.

With this in mind, I decided to procede by leaving "Injuries" on the side and populating coordinate data only for "Deaths".

In [19]:
def geolocate(srs):
    """
    Pandas ufunc which operates on a Pandas series, applying geolocation to tag coordinates from street name.
    Handles a variety of inputs:
    (PERSONS KILLED = 0) -> Does nothing.
    (PERSONS KILLED > 0, LOCATION defined, ON STREET NAME any, OFF STREET NAME any, CROSS STREET NAME any) -> Does nothing.
    (PERSONS KILLED > 0, LOCATION undef, ON STREET NAME def, OFF STREET NAME def, CROSS STREET NAME any) -> Geolocates using ON STREET and OFF STREET.
    (PERSONS KILLED > 0, LOCATION undef, ON STREET NAME undef, OFF STREET NAME undef, CROSS STREET NAME undef) -> Does nothing.*
    (PERSONS KILLED > 0, LOCATION undef, ON STREET NAME undef, OFF STREET NAME undef, CROSS STREET NAME def) -> Does nothing.**

    *  A cleanup step in the after stage might then remove these entries.
    ** This was found to be too unreliable to be worth trying.
    """
    on_street = srs['ON STREET NAME']
    cross_street = srs['CROSS STREET NAME']
    off_street = srs['OFF STREET NAME']
#     if str(srs['LOCATION']) == 'nan' and (srs['NUMBER OF PERSONS INJURED'] > 0 or srs['NUMBER OF PERSONS KILLED'] > 0):
    if str(srs['LOCATION']) == 'nan' and (srs['NUMBER OF PERSONS KILLED'] > 0):
        if str(on_street) != 'nan' and str(cross_street) != 'nan':
            g = geocoder.google('{0} and {1}, New York City'.format(on_street, cross_street))
            if g.status == 'ZERO_RESULTS':
                # Fail.
                pass
            # Success!
            srs['LOCATION'] = g.latlng
            srs['LATITUDE'] = g.latlng[0]
            srs['LONGITUDE'] = g.latlng[1]
#             print('{0} and {1}, New York City -> {2}'.format(on_street, cross_street, g.latlng))
        elif str(off_street) != 'nan':
            # off_street was found to be too inaccurate to be reliably returned.
            # Fail.
            pass
#             g = geocoder.google('{0}, New York City'.format(off_street))
#             if g.status == 'ZERO_RESULTS':
#                 pass
#             else:
#                 srs['LOCATION'] = g.latlng
        else:
            # Fail.
            pass
    return srs

In [20]:
filtered_fitted_df = filtered_df.copy()
filtered_fitted_df = filtered_fitted_df.apply(geolocate, axis=1)

In [21]:
filtered_fitted_df[filtered_fitted_df['NUMBER OF PERSONS KILLED'] > 0]

,DATETIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,LOCATION,ON STREET NAME,CROSS STREET NAME,OFF STREET NAME,NUMBER OF PERSONS INJURED,NUMBER OF PERSONS KILLED,NUMBER OF PEDESTRIANS INJURED,NUMBER OF PEDESTRIANS KILLED,NUMBER OF CYCLIST INJURED,NUMBER OF CYCLIST KILLED,NUMBER OF MOTORIST INJURED,NUMBER OF MOTORIST KILLED,CONTRIBUTING FACTOR VEHICLE 1,CONTRIBUTING FACTOR VEHICLE 2,CONTRIBUTING FACTOR VEHICLE 3,CONTRIBUTING FACTOR VEHICLE 4,CONTRIBUTING FACTOR VEHICLE 5,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2,VEHICLE TYPE CODE 3,VEHICLE TYPE CODE 4,VEHICLE TYPE CODE 5
UNIQUE KEY,,,,,,,,,,,,,,,,,,,,,,,,,,,
3404362,2016-01-01 13:53:00,NaN,NaN,40.741691,-73.735405,"(40.7416909, -73.7354052)",NaN,NaN,NaN,3,1,0,0,0,0,3,1,Tire Failure/Inadequate,Unspecified,NaN,NaN,NaN,SPORT UTILITY / STATION WAGON,SPORT UTILITY / STATION WAGON,NaN,NaN,NaN
3403859,2016-01-01 08:17:00,QUEENS,11368.0,40.754707,-73.854786,"(40.7547066, -73.854786)",37 AVENUE,113 STREET,NaN,0,1,0,1,0,0,0,0,Unspecified,NaN,NaN,NaN,NaN,SPORT UTILITY / STATION WAGON,NaN,NaN,NaN,NaN
3402892,2016-01-01 19:27:00,BRONX,10452.0,40.835432,-73.923398,"(40.835432, -73.9233984)",JEROME AVENUE,SHAKESPEARE AVENUE,NaN,0,1,0,1,0,0,0,0,Unspecified,NaN,NaN,NaN,NaN,VAN,NaN,NaN,NaN,NaN
3400502,2016-01-01 11:29:00,NaN,NaN,40.843284,-73.837076,"[40.8432843, -73.8370762]",WESTCHESTER AVENUE,HUTCHINSON RIVER PARKWAY EAST,NaN,0,1,0,0,0,0,0,1,Unspecified,NaN,NaN,NaN,NaN,PASSENGER VEHICLE,NaN,NaN,NaN,NaN
3399154,2016-01-01 02:28:00,STATEN ISLAND,10305.0,40.601204,-74.065076,"(40.6012042, -74.0650758)",NARROWS ROAD SOUTH,LILY POND AVENUE,NaN,0,1,0,0,0,0,0,1,Following Too Closely,NaN,NaN,NaN,NaN,PASSENGER VEHICLE,NaN,NaN,NaN,NaN
3396423,2016-01-01 08:34:00,MANHATTAN,10016.0,40.749049,-73.982023,"(40.7490492, -73.982023)",EAST 36 STREET,MADISON AVENUE,NaN,0,1,0,1,0,0,0,0,Failure to Yield Right-of-Way,NaN,NaN,NaN,NaN,LIVERY VEHICLE,NaN,NaN,NaN,NaN
3395981,2016-01-01 01:25:00,NaN,NaN,40.844456,-73.902825,"[40.8444559, -73.9028254]",WEBSTER AVENUE,CROSS BRONX EXPRESSWAY,NaN,0,1,0,1,0,0,0,0,Unspecified,NaN,NaN,NaN,NaN,SPORT UTILITY / STATION WAGON,NaN,NaN,NaN,NaN
3396507,2016-01-01 23:28:00,BRONX,10462.0,40.835721,-73.855646,"(40.8357212, -73.8556463)",UNIONPORT ROAD,MCGRAW AVENUE,NaN,0,1,0,1,0,0,0,0,Passenger Distraction,NaN,NaN,NaN,NaN,SPORT UTILITY / STATION WAGON,NaN,NaN,NaN,NaN
3396249,2016-01-01 04:40:00,QUEENS,11419.0,40.682461,-73.830015,"(40.6824607, -73.8300148)",111 STREET,107 AVENUE,NaN,0,1,0,1,0,0,0,0,Driver Inattention/Distraction,Unspecified,NaN,NaN,NaN,UNKNOWN,SPORT UTILITY / STATION WAGON,NaN,NaN,NaN
3396263,2016-01-01 04:40:00,QUEENS,11419.0,40.682461,-73.830015,"(40.6824607, -73.8300148)",111 STREET,107 AVENUE,NaN,0,1,0,0,0,0,0,1,Driver Inattention/Distraction,Unspecified,NaN,NaN,NaN,UNKNOWN,OTHER,NaN,NaN,NaN
3396155,2016-01-01 04:56:00,BROOKLYN,11215.0,40.669172,-73.986305,"(40.6691717, -73.9863054)",5 AVENUE,9 STREET,NaN,0,1,0,1,0,0,0,0,Physical Disability,NaN,NaN,NaN,NaN,PASSENGER VEHICLE,NaN,NaN,NaN,NaN
3392707,2016-01-01 06:39:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,RAMBLES PEDESTRIAN PATH,0,1,0,0,0,0,0,1,Driver Inattention/Distraction,NaN,NaN,NaN,NaN,VAN,NaN,NaN,NaN,NaN
3391962,2016-01-01 04:21:00,NaN,NaN,40.678997,-73.729789,"(40.6789969, -73.7297895)",NaN,NaN,NaN,0,2,0,0,0,0,0,2,Alcohol Involvement,NaN,NaN,NaN,NaN,PASSENGER VEHICLE,NaN,NaN,NaN,NaN
3389878,2016-01-01 17:39:00,STATEN ISLAND,10306.0,40.572908,-74.137044,"(40.5729078, -74.1370436)",RICHMOND ROAD,ANDREWS AVENUE,NaN,0,1,0,0,0,1,0,0,Unspecified,Unspecified,NaN,NaN,NaN,SPORT UTILITY / STATION WAGON,BICYCLE,NaN,NaN,NaN
3389717,2016-01-01 04:50:00,NaN,NaN,40.664959,-73.822248,"(40.6649593, -73.8222478)",NaN,NaN,NaN,0,1,0,0,0,0,0,1,Unspecified,NaN,NaN,NaN,NaN,SPORT UTILITY / STATION WAGON,NaN,NaN,NaN,NaN
3387726,2016-01-01 10:02:00,MANHATTAN,10018.0,40.757694,-74.000585,"(40.7576938, -74.0005848)",11 AVENUE,WEST 37 STREET,NaN,0,1,0,1,0,0,0,0,Failure to Yield Right-of-Way,NaN,NaN,NaN,NaN,LARGE COM VEH(6 OR MORE TIRES),NaN,NaN,NaN,NaN
3387100,2016-01-01 18:42:00,MANHATTAN,10013.0,40.721968,-74.008233,"(40.7219679, -74.0082326)",HUDSON STREET,LAIGHT STREET,NaN,0,1,0,0,0,1,0,0,Physical Disability,Unspecified,NaN,NaN,NaN,LARGE COM VEH(6 OR MORE TIRES),BICYCLE,NaN,NaN,NaN
3386964,2016-01-01 00:17:00,QUEENS,11422.0,40.665614,-73.735671,"(40.6656136, -73.7356712)",SUNRISE HIGHWAY,FRANCIS LEWIS BOULEVARD,NaN,0,1,0,1,0,0,0,0,Driver Inattention/Distraction,NaN,NaN,NaN,NaN,VAN,NaN,NaN,NaN,NaN
3387199,2016-01-01 20:48:00,MANHATTAN,10032.0,40.839178,-73.941135,"(40.839178, -73.9411352)",BROADWAY,WEST 165 STREET,NaN,0,1,0,1,0,0,0,0,Failure to Yield Right-of-Way,NaN,NaN,NaN,NaN,OTHER,NaN,NaN,NaN,NaN
3386957,2016-01-01 12:16:00,QUEENS,11385.0,40.696669,-73.886810,"(40.6966689, -73.8868099)",CYPRESS HILLS STREET,80 AVENUE,NaN,1,1,0,0,0,0,1,1,Traffic Control Disregarded,NaN,NaN,NaN,NaN,PASSENGER VEHICLE,NaN,NaN,NaN,NaN
3384663,2016-01-01 10:14:00,BROOKLYN,11212.0,40.654224,-73.915306,"(40.6542235, -73.9153065)",LINDEN BOULEVARD,EAST 95 STREET,NaN,0,1,0,1,0,0,0,0,Traffic Control Disregarded,Unspecified,NaN,NaN,NaN,PASSENGER VEHICLE,SPORT UTILITY / STATION WAGON,NaN,NaN,NaN
3384726,2016-01-01 18:34:00,BROOKLYN,11213.0,40.677563,-73.933080,"(40.6775631, -73.9330796)",ATLANTIC AVENUE,SCHENECTADY AVENUE,NaN,2,1,1,1,0,0,1,0,Traffic Control Disregarded,Unspecified,Unspecified,Unspecified,Unspecified,BUS,PASSENGER VEHICLE,SPORT UTILITY / STATION WAGON,SPORT UTILITY / STATION WAGON,SPORT UTILITY / STATION WAGON
3382850,2016-01-01 06:23:00,BROOKLYN,11219.0,40.623680,-73.997713,"(40.6236805, -73.9977125)",65 STREET,NEW UTRECHT AVENUE,NaN,0,1,0,1,0,0,0,0,Unspecified,NaN,NaN,NaN,NaN,VAN,NaN,NaN,NaN,NaN
3380030,2016-01-01 03:49:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,1,1,1,0,0,0,0,Alcohol Involvement,Driver Inattention/Distraction,NaN,NaN,NaN,PASSENGER VEHICLE,PICK-UP TRUCK,NaN,NaN,NaN
3379019,2016-01-01 13:04:00,BROOKLYN,11214.0,40.601442,-74.001545,"(40.6014422, -74.0015449)",BATH AVENUE,20 AVENUE,NaN,0,1,0,1,0,0,0,0,Failure to Yield Right-of-Way,NaN,NaN,NaN,NaN,PASSENGER VEHICLE,NaN,NaN,NaN,NaN
3375597,2016-01-01 09:21:00,QUEENS,11356.0,40.784190,-73.845810,"(40.78419, -73.8458097)",COLLEGE POINT BOULEVARD,15 AVENUE,NaN,0,1,0,1,0,0,0,0,Unspecified,NaN,NaN,NaN,NaN,SMALL COM VEH(4 TIRES),NaN,NaN,NaN,NaN
3374572,2016-01-01 19:27:00,NaN,NaN,40.748351,-73.967859,"(40.7483506, -73.967859)",NaN,NaN,NaN,0,1,0,1,0,0,0,0,Unspecified,NaN,NaN,NaN,NaN,PASSENGER VEHICLE,NaN,NaN,NaN,NaN
3373336,2016-01-01 17:03:00,BROOKLYN,11223.0,40.598205,-73.962104,"(40.5982053, -73.9621036)",AVENUE U,EAST 9 STREET,NaN,0,1,0,0,0,1,0,0,Unspecified,NaN,NaN,NaN,NaN,LARGE COM VEH(6 OR MORE TIRES),NaN,NaN,NaN,NaN
3373300,2016-01-01 09:44:00,BRONX,10461.0,40.853808,-73.855278,"(40.8538084, -73.8552781)",NEILL AVENUE,TOMLINSON AVENUE,NaN,0,1,0,0,0,1,0,0,Unspecified,Unspecified,NaN,NaN,NaN,PASSENGER VEHICLE,BICYCLE,NaN,NaN,NaN
3372132,2016-01-01 09:48:00,NaN,NaN,40.618734,-74.176052,"(40.6187344, -74.1760525)",NaN,NaN,NaN,0,1,0,0,0,0,0,1,Traffic Control Disregarded,NaN,NaN,NaN,NaN,VAN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
273143,2012-01-01 08:31:00,QUEENS,11377.0,40.762385,-73.903433,"(40.7623853, -73.9034334)",BOROUGH PLACE,BULOVA AVENUE,NaN,0,1,0,1,0,0,0,0,Unspecified,NaN,NaN,NaN,NaN,BUS,NaN,NaN,NaN,NaN
85431,2012-01-01 14:58:00,NaN,NaN,40.840288,-73.921338,"[40.8402877, -73.9213381]",GRANT HIGHWAY,WEST 170 STREET,NaN,0,1,0,0,0,0,0,1,Driver Inattention/Distraction,NaN,NaN,NaN,NaN,MOTORCYCLE,NaN,NaN,NaN,NaN
2853447,2012-01-01 22:30:00,NaN,NaN,40.791407,-73.935678,"(40.7914069, -73.9356781)",NaN,NaN,NaN,0,1,0,0,0,0,0,1,Aggressive Driving/Road Rage,Unspecified,NaN,NaN,NaN,MOTORCYCLE,PASSENGER VEHICLE,NaN,NaN,NaN
76398,2012-01-01 12:18:00,BRONX,10474.0,40.812077,-73.886805,"(40.8120773, -73.8868051)",RANDALL AVENUE,COSTER STREET,NaN,2,1,0,0,0,0,2,1,Unspecified,Unspecified,NaN,NaN,NaN,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN
144898,2012-01-01 20:25:00,BROOKLYN,11236.0,40.642004,-73.898830,"(40.6420041, -73.8988296)",ROCKAWAY PARKWAY,AVENUE J,NaN,0,1,0,1,0,0,0,0,Unspecified,Unspecified,NaN,NaN,NaN,PASSENGER VEHICLE,SPORT UTILITY / STATION WAGON,NaN,NaN,NaN
38108,2012-01-01 09:00:00,MANHATTAN,10022.0,40.761668,-73.974916,"(40.7616682, -73.9749156)",WEST 55 STREET,5 AVENUE,NaN,0,1,0,1,0,0,0,0,Unspecified,NaN,NaN,NaN,NaN,SPORT UTILITY / STATION WAGON,NaN,NaN,NaN,NaN
12320,2012-01-01 22:30:00,MANHATTAN,10002.0,40.721644,-73.989130,"(40.7216438, -73.9891302)",ALLEN STREET,STANTON STREET,NaN,0,1,0,1,0,0,0,0,Unspecified,NaN,NaN,NaN,NaN,OTHER,NaN,NaN,NaN,NaN
130180,2012-01-01 02:09:00,BROOKLYN,11204.0,40.618799,-73.983488,"(40.6187991, -73.9834881)",20 AVENUE,61 STREET,NaN,3,1,0,0,0,0,3,1,Unspecified,Unspecified,Unspecified,Unspecified,NaN,LARGE COM VEH(6 OR MORE TIRES),SPORT UTILITY / STATION WAGON,PASSENGER VEHICLE,SPORT UTILITY / STATION WAGON,NaN
156067,2012-01-01 19:05:00,BROOKLYN,11220.0,40.647123,-74.015160,"(40.6471227, -74.0151603)",51 STREET,3 AVENUE,NaN,0,1,0,1,0,0,0,0,Physical Disability,NaN,NaN,NaN,NaN,PASSENGER VEHICLE,NaN,NaN,NaN,NaN
285012,2012-01-01 12:28:00,NaN,NaN,40.637749,-74.076869,"[40.6377491, -74.07686919999999]",BAY STREET,VICTORY BOULEVARD,NaN,0,1,0,1,0,0,0,0,Unspecified,NaN,NaN,NaN,NaN,BUS,NaN,NaN,NaN,NaN
293579,2012-01-01 16:00:00,STATEN ISLAND,10314.0,40.608833,-74.121170,"(40.6088332, -74.1211698)",MANOR ROAD,SCHMIDTS LANE,NaN,0,1,0,1,0,0,0,0,Unspecified,NaN,NaN,NaN,NaN,PASSENGER VEHICLE,NaN,NaN,NaN,NaN
194049,2012-01-01 00:08:00,BROOKLYN,11211.0,40.714691,-73.942688,"(40.7146912, -73.9426881)",METROPOLITAN AVENUE,HUMBOLDT STREET,NaN,0,1,0,1,0,0,0,0,Unspecified,NaN,NaN,NaN,NaN,LIVERY VEHICLE,NaN,NaN,NaN,NaN
65072,2012-01-01 21:50:00,MANHATTAN,10031.0,40.828446,-73.941542,"(40.8284464, -73.9415422)",SAINT NICHOLAS PLACE,WEST 152 STREET,NaN,0,1,0,0,0,0,0,1,Traffic Control Disregarded,Unspecified,Unspecified,NaN,NaN,MOTORCYCLE,SPORT UTILITY / STATION WAGON,PASSENGER VEHICLE,NaN,NaN
55636,2012-01-01 19:50:00,MANHATTAN,10029.0,40.794233,-73.946946,"(40.7942333, -73.9469462)",EAST 108 STREET,PARK AVENUE,NaN,0,1,0,0,0,1,0,0,Unspecified,Unspecified,NaN,NaN,NaN,PASSENGER VEHICLE,BICYCLE,NaN,NaN,NaN
284928,2012-01-01 00:45:00,STATEN ISLAND,10314.0,40.621429,-74.126427,"(40.6214289, -74.1264267)",COLLEGE AVENUE,CAROLINA PLACE,NaN,0,1,0,0,0,0,0,1,Unspecified,NaN,NaN,NaN,NaN,PASSENGER VEHICLE,NaN,NaN,NaN,NaN
208863,2012-01-01 03:20:00,QUEENS,11418.0,40.697204,-73.813334,"(40.6972045, -73.8133341)",94 AVENUE,VAN WYCK EXPRESSWAY,NaN,3,5,0,0,0,0,3,5,Traffic Control Disregarded,NaN,NaN,NaN,NaN,SPORT UTILITY / STATION WAGON,NaN,NaN,NaN,NaN
160223,2012-01-01 20:48:00,BROOKLYN,11212.0,40.663106,-73.905174,"(40.6631059, -73.9051739)",MOTHER GASTON BOULEVARD,LIVONIA AVENUE,NaN,0,1,0,1,0,0,0,0,Passenger Distraction,NaN,NaN,NaN,NaN,PASSENGER VEHICLE,NaN,NaN,NaN,NaN
268241,2012-01-01 20:08:00,QUEENS,11434.0,40.685279,-73.772400,"(40.6852789, -73.7723999)",MERRICK BOULEVARD,VICTORIA ROAD,NaN,0,1,0,0,0,0,0,1,Traffic Control Disregarded,Unspecified,NaN,NaN,NaN,MOTORCYCLE,SPORT UTILITY / STATION WAGON,NaN,NaN,NaN
238815,2012-01-01 22:51:00,QUEENS,11104.0,40.739064,-73.926158,"(40.7390635, -73.9261579)",GREENPOINT AVENUE,39 PLACE,NaN,0,1,0,0,0,1,0,0,Unspecified,Unspecified,Unspecified,NaN,NaN,UNKNOWN,BICYCLE,TAXI,NaN,NaN
95006,2012-01-01 23:17:00,BRONX,10467.0,40.878645,-73.871598,"(40.8786453, -73.871598)",WEBSTER AVENUE,EAST GUN HILL ROAD,NaN,2,1,0,0,0,0,2,1,Traffic Control Disregarded,Unspecified,NaN,NaN,NaN,PASSENGER VEHICLE,SPORT UTILITY / STATION WAGON,NaN,NaN,NaN
130032,2012-01-01 10:35:00,BROOKLYN,11223.0,40.609674,-73.965223,"(40.609674, -73.9652232)",EAST 8 STREET,AVENUE P,NaN,0,1,0,0,0,0,0,1,Unspecified,Unspecified,NaN,NaN,NaN,MOTORCYCLE,PASSENGER VEHICLE,NaN,NaN,NaN
85246,2012-01-01 01:21:00,BRONX,10456.0,40.838722,-73.913771,"(40.8387216, -73.9137706)",GRAND CONCOURSE,EAST 170 STREET,NaN,2,1,1,1,0,0,1,0,Alcohol Involvement,Unspecified,NaN,NaN,NaN,SPORT UTILITY / STATION WAGON,SPORT UTILITY / STATION WAGON,NaN,NaN,NaN
57611,2012-01-01 21:20:00,MANHATTAN,10025.0,40.796597,-73.970370,"(40.7965967, -73.9703697)",BROADWAY,WEST 99 STREET,NaN,0,1,0,1,0,0,0,0,Unspecified,NaN,NaN,NaN,NaN,TAXI,NaN,NaN,NaN,NaN
109565,2012-01-01 23:18:00,BRONX,10467.0,40.878645,-73.871598,"(40.8786453, -73.871598)",WEBSTER AVENUE,EAST GUN HILL ROAD,NaN,0,1,0,0,0,1,0,0,Other Vehicular,Unspecified,Unspecified,NaN,NaN,PASSENGER VEHICLE,SPORT UTILITY / STATION WAGON,BICYCLE,NaN,NaN
88620,2012-01-01 00:57:00,BRONX,10461.0,40.843007,-73.848547,"(40.8430075, -73.8485467)",OVERING STREET,EAST TREMONT AVENUE,NaN,1,1,0,0,0,0,1,1,Unspecified,NaN,NaN,NaN,NaN,PASSENGER VEHICLE,NaN,NaN,NaN,NaN
3089477,2012-01-01 10:59:00,NaN,NaN,40.725176,-73.837379,"(40.725176, -73.8373787)",NaN,NaN,NaN,1,1,0,1,0,0,1,0,Alcohol Involvement,Unspecified,NaN,NaN,NaN,PASSENGER VEHICLE,LARGE COM VEH(6 OR MORE TIRES),NaN,NaN,NaN
163460,2012-01-01 21:54:00,BROOKLYN,11207.0,40.680665,-73.902622,"(40.6806649, -73.9026216)",BUSHWICK AVENUE,CONWAY STREET,NaN,0,1,0,1,0,0,0,0,Unspecified,NaN,NaN,NaN,NaN,PASSENGER VEHICLE,NaN,NaN,NaN,NaN
152388,2012-01-01 03:30:00,BROOKLYN,11225.0,40.662736,-73.957122,"(40.6627363, -73.9571216)",BEDFORD AVENUE,STERLING STREET,NaN,0,1,0,1,0,0,0,0,Driver Inattention/Distraction,Unspecified,NaN,NaN,NaN,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN
279655,2012-01-01 20:55:00,QUEENS,11369.0,40.764014,-73.881216,"(40.7640141, -73.8812156)",ASTORIA BOULEVARD,88 STREET,NaN,0,1,0,0,0,0,0,1,Traffic Control Disregarded,Unspecified,NaN,NaN,NaN,PASSENGER VEHICLE,MOTORCYCLE,NaN,NaN,NaN
179420,2012-01-01 16:30:00,BROOKLYN,11216.0,40.685846,-73.947310,"(40.685846, -73.9473101)",MARCY AVENUE,MONROE STREET,NaN,0,1,0,0,0,0,0,1,View Obstructed/Limited,Unspecified,NaN,NaN,NaN,FIRE TRUCK,OTHER,NaN,NaN,NaN

At this point the data is as complete as it can be. Save it.

In [22]:
filtered_fitted_df.to_csv('NYPD Motor Vehicle Collisions Enriched.csv')