## Motor Vehicle Collisions

The following notebook downloads the [NYPD Motor Vehicle Collisions dataset](https://data.cityofnewyork.us/Public-Safety/NYPD-Motor-Vehicle-Collisions/h9gi-nx95) (part of the NYC Open Data initiative) and cleans it for the purposes of analysis.

In [84]:
import pandas as pd
import numpy as np
from pandas import DataFrame
import geocoder
import requests
import arrow
import math
import ratelim
from datetime import datetime
from tqdm import tqdm

In [50]:
# Not currently working: https://github.com/JosPolfliet/pandas-profiling/issues/5
# import pandas_profiling

In [51]:
def download_file(url, filename):
    """
    Helper method handling downloading large files from `url` to `filename`. Returns a pointer to `filename`.
    """
    r = requests.get(url, stream=True)
    with open(filename, 'wb') as f:
        for chunk in r.iter_content(chunk_size=1024): 
            if chunk: # filter out keep-alive new chunks
                f.write(chunk)
    return filename

In [52]:
dat = download_file("https://data.cityofnewyork.us/api/views/h9gi-nx95/rows.csv?accessType=DOWNLOAD",
                    "NYPD Motor Vehicle Collisions.csv")

In [53]:
# Column 23 is UNIQUE KEY.
df = pd.read_csv(dat, index_col=23)

In [54]:
pd.set_option('display.max_columns', None)

In [55]:
df.head(10)

,DATE,TIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,LOCATION,ON STREET NAME,CROSS STREET NAME,OFF STREET NAME,NUMBER OF PERSONS INJURED,NUMBER OF PERSONS KILLED,NUMBER OF PEDESTRIANS INJURED,NUMBER OF PEDESTRIANS KILLED,NUMBER OF CYCLIST INJURED,NUMBER OF CYCLIST KILLED,NUMBER OF MOTORIST INJURED,NUMBER OF MOTORIST KILLED,CONTRIBUTING FACTOR VEHICLE 1,CONTRIBUTING FACTOR VEHICLE 2,CONTRIBUTING FACTOR VEHICLE 3,CONTRIBUTING FACTOR VEHICLE 4,CONTRIBUTING FACTOR VEHICLE 5,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2,VEHICLE TYPE CODE 3,VEHICLE TYPE CODE 4,VEHICLE TYPE CODE 5
UNIQUE KEY,,,,,,,,,,,,,,,,,,,,,,,,,,,,
3405059,03/14/2016,0:45,MANHATTAN,10035.0,40.808279,-73.938793,"(40.8082795, -73.9387929)",EAST 129 STREET,MADISON AVENUE,NaN,0,0,0,0,0,0,0,0,Unspecified,Unspecified,NaN,NaN,NaN,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN
3405134,03/14/2016,2:00,NaN,NaN,NaN,NaN,NaN,PULASKI BRIDGE,EAGLE STREET,NaN,0,0,0,0,0,0,0,0,Unspecified,Unspecified,NaN,NaN,NaN,PASSENGER VEHICLE,OTHER,NaN,NaN,NaN
3405169,03/14/2016,3:27,QUEENS,11372.0,40.747734,-73.882999,"(40.7477341, -73.8829986)",ROOSEVELT AVENUE,83 STREET,NaN,1,0,1,0,0,0,0,0,Unspecified,NaN,NaN,NaN,NaN,OTHER,NaN,NaN,NaN,NaN
3405070,03/14/2016,2:40,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0,0,0,0,Other Vehicular,Unspecified,NaN,NaN,NaN,PASSENGER VEHICLE,OTHER,NaN,NaN,NaN
3404997,03/13/2016,15:00,QUEENS,11377.0,40.753611,-73.903923,"(40.7536108, -73.9039226)",NORTHERN BOULEVARD,57 STREET,NaN,0,0,0,0,0,0,0,0,Fatigued/Drowsy,Unspecified,Unspecified,NaN,NaN,SPORT UTILITY / STATION WAGON,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN
3404869,03/13/2016,14:00,QUEENS,11422.0,40.675463,-73.733840,"(40.6754631, -73.7338404)",133 AVENUE,LAURELTON PARKWAY SERVICE ROAD S,NaN,0,0,0,0,0,0,0,0,Unspecified,Unspecified,NaN,NaN,NaN,SPORT UTILITY / STATION WAGON,PASSENGER VEHICLE,NaN,NaN,NaN
3404542,03/13/2016,15:00,MANHATTAN,10038.0,40.710177,-74.001136,"(40.7101767, -74.0011362)",ROBERT F WAGNER PLACE,PEARL STREET,NaN,0,0,0,0,0,0,0,0,Fatigued/Drowsy,Unspecified,NaN,NaN,NaN,PASSENGER VEHICLE,SPORT UTILITY / STATION WAGON,NaN,NaN,NaN
3405091,03/13/2016,15:00,BROOKLYN,11228.0,40.624125,-74.010623,"(40.6241247, -74.0106233)",73 STREET,11 AVENUE,NaN,0,0,0,0,0,0,0,0,Backing Unsafely,Driver Inattention/Distraction,NaN,NaN,NaN,SPORT UTILITY / STATION WAGON,SPORT UTILITY / STATION WAGON,NaN,NaN,NaN
3404874,03/13/2016,3:15,QUEENS,11429.0,40.709669,-73.744857,"(40.7096688, -73.7448566)",213 STREET,HOLLIS AVENUE,NaN,0,0,0,0,0,0,0,0,Unspecified,Unspecified,NaN,NaN,NaN,PASSENGER VEHICLE,UNKNOWN,NaN,NaN,NaN
3404581,03/13/2016,15:20,MANHATTAN,10019.0,40.761719,-73.982807,"(40.7617191, -73.9828066)",WEST 51 STREET,7 AVENUE,NaN,0,0,0,0,0,0,0,0,Driver Inattention/Distraction,Unspecified,NaN,NaN,NaN,PASSENGER VEHICLE,SPORT UTILITY / STATION WAGON,NaN,NaN,NaN

In [56]:
len(df)

769054

In [57]:
df.count(axis=0)

DATE                             769054
TIME                             769054
BOROUGH                          584753
ZIP CODE                         584686
LATITUDE                         647867
LONGITUDE                        647867
LOCATION                         647867
ON STREET NAME                   655435
CROSS STREET NAME                655435
OFF STREET NAME                   23792
NUMBER OF PERSONS INJURED        769054
NUMBER OF PERSONS KILLED         769054
NUMBER OF PEDESTRIANS INJURED    769054
NUMBER OF PEDESTRIANS KILLED     769054
NUMBER OF CYCLIST INJURED        769054
NUMBER OF CYCLIST KILLED         769054
NUMBER OF MOTORIST INJURED       769054
NUMBER OF MOTORIST KILLED        769054
CONTRIBUTING FACTOR VEHICLE 1    767363
CONTRIBUTING FACTOR VEHICLE 2    676675
CONTRIBUTING FACTOR VEHICLE 3     49848
CONTRIBUTING FACTOR VEHICLE 4     10256
CONTRIBUTING FACTOR VEHICLE 5      2569
VEHICLE TYPE CODE 1              768105
VEHICLE TYPE CODE 2              688860
VEHICLE TYPE CODE 3               49989
VEHICLE TYPE CODE 4               10260
VEHICLE TYPE CODE 5                2570
dtype: int64

Some observations:
* `UNIQUE KEY` is the `Index`.
* Datetime is split across `Date` and `Time`, Tableau expects them to be combined in its input and messes things up if it is not.
* One of `On Street Name`, `Off Street Name`, `Cross Street Name`, or `Location` is *almost* always present.

  In the exceptional cases there is nothing that can be done with this entry, as it has no identifiable location tag, so we will have to throw the entry out.
  
  Otherwise we can populate all other location-tagged parameters using geocoding or reverse geocoding.
* Contibuting factors, injuries to parties, and datetime information is always complete.

Step one, merge date and time into datetime. Modifying data in-place in terms of `Series` in a `DataFrame` is not fast: takes 21 minutes. It's much faster to write a new Index and then insert it into the table, then drop the original ones.

In [58]:
def create_datetime_axis(daf):
    """
    Pandas ufunc which takes the DataFrame, merging the date and time into a `datetime` axis.
    ex. Series(['03/13/2016', '2:10']) -> Series(['2016:03:13:2:10', NaN])
    """
    datetime_axis = []
    for row_n in tqdm(range(len(daf))):
        srs = daf.iloc[row_n, :]
        datetime_axis.append(datetime.strptime(''.join((srs['DATE'], srs['TIME'])), '%m/%d/%Y%H:%M').strftime('%m/%d/%Y %H:%M'))
    return datetime_axis

In [59]:
filtered_df = df.copy()
# filtered_df = filtered_df.head(10)
filtered_df['DATE'] = create_datetime_axis(filtered_df)
filtered_df.drop('TIME', axis=1, inplace=True)
filtered_df.rename(columns={'DATE':'DATETIME'}, inplace=True)
filtered_df

,DATETIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,LOCATION,ON STREET NAME,CROSS STREET NAME,OFF STREET NAME,NUMBER OF PERSONS INJURED,NUMBER OF PERSONS KILLED,NUMBER OF PEDESTRIANS INJURED,NUMBER OF PEDESTRIANS KILLED,NUMBER OF CYCLIST INJURED,NUMBER OF CYCLIST KILLED,NUMBER OF MOTORIST INJURED,NUMBER OF MOTORIST KILLED,CONTRIBUTING FACTOR VEHICLE 1,CONTRIBUTING FACTOR VEHICLE 2,CONTRIBUTING FACTOR VEHICLE 3,CONTRIBUTING FACTOR VEHICLE 4,CONTRIBUTING FACTOR VEHICLE 5,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2,VEHICLE TYPE CODE 3,VEHICLE TYPE CODE 4,VEHICLE TYPE CODE 5
UNIQUE KEY,,,,,,,,,,,,,,,,,,,,,,,,,,,
3405059,03/14/2016 00:45,MANHATTAN,10035.0,40.808279,-73.938793,"(40.8082795, -73.9387929)",EAST 129 STREET,MADISON AVENUE,NaN,0,0,0,0,0,0,0,0,Unspecified,Unspecified,NaN,NaN,NaN,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN
3405134,03/14/2016 02:00,NaN,NaN,NaN,NaN,NaN,PULASKI BRIDGE,EAGLE STREET,NaN,0,0,0,0,0,0,0,0,Unspecified,Unspecified,NaN,NaN,NaN,PASSENGER VEHICLE,OTHER,NaN,NaN,NaN
3405169,03/14/2016 03:27,QUEENS,11372.0,40.747734,-73.882999,"(40.7477341, -73.8829986)",ROOSEVELT AVENUE,83 STREET,NaN,1,0,1,0,0,0,0,0,Unspecified,NaN,NaN,NaN,NaN,OTHER,NaN,NaN,NaN,NaN
3405070,03/14/2016 02:40,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0,0,0,0,Other Vehicular,Unspecified,NaN,NaN,NaN,PASSENGER VEHICLE,OTHER,NaN,NaN,NaN
3404997,03/13/2016 15:00,QUEENS,11377.0,40.753611,-73.903923,"(40.7536108, -73.9039226)",NORTHERN BOULEVARD,57 STREET,NaN,0,0,0,0,0,0,0,0,Fatigued/Drowsy,Unspecified,Unspecified,NaN,NaN,SPORT UTILITY / STATION WAGON,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN
3404869,03/13/2016 14:00,QUEENS,11422.0,40.675463,-73.733840,"(40.6754631, -73.7338404)",133 AVENUE,LAURELTON PARKWAY SERVICE ROAD S,NaN,0,0,0,0,0,0,0,0,Unspecified,Unspecified,NaN,NaN,NaN,SPORT UTILITY / STATION WAGON,PASSENGER VEHICLE,NaN,NaN,NaN
3404542,03/13/2016 15:00,MANHATTAN,10038.0,40.710177,-74.001136,"(40.7101767, -74.0011362)",ROBERT F WAGNER PLACE,PEARL STREET,NaN,0,0,0,0,0,0,0,0,Fatigued/Drowsy,Unspecified,NaN,NaN,NaN,PASSENGER VEHICLE,SPORT UTILITY / STATION WAGON,NaN,NaN,NaN
3405091,03/13/2016 15:00,BROOKLYN,11228.0,40.624125,-74.010623,"(40.6241247, -74.0106233)",73 STREET,11 AVENUE,NaN,0,0,0,0,0,0,0,0,Backing Unsafely,Driver Inattention/Distraction,NaN,NaN,NaN,SPORT UTILITY / STATION WAGON,SPORT UTILITY / STATION WAGON,NaN,NaN,NaN
3404874,03/13/2016 03:15,QUEENS,11429.0,40.709669,-73.744857,"(40.7096688, -73.7448566)",213 STREET,HOLLIS AVENUE,NaN,0,0,0,0,0,0,0,0,Unspecified,Unspecified,NaN,NaN,NaN,PASSENGER VEHICLE,UNKNOWN,NaN,NaN,NaN
3404581,03/13/2016 15:20,MANHATTAN,10019.0,40.761719,-73.982807,"(40.7617191, -73.9828066)",WEST 51 STREET,7 AVENUE,NaN,0,0,0,0,0,0,0,0,Driver Inattention/Distraction,Unspecified,NaN,NaN,NaN,PASSENGER VEHICLE,SPORT UTILITY / STATION WAGON,NaN,NaN,NaN
3404564,03/13/2016 18:30,MANHATTAN,10010.0,40.740854,-73.985879,"(40.7408539, -73.9858793)",PARK AVENUE SOUTH,EAST 24 STREET,NaN,0,0,0,0,0,0,0,0,Driver Inattention/Distraction,Driver Inattention/Distraction,NaN,NaN,NaN,SPORT UTILITY / STATION WAGON,LIVERY VEHICLE,NaN,NaN,NaN
3404759,03/13/2016 18:40,NaN,NaN,40.627643,-73.890216,"(40.6276429, -73.8902159)",NaN,NaN,NaN,0,0,0,0,0,0,0,0,Turning Improperly,Traffic Control Disregarded,NaN,NaN,NaN,SPORT UTILITY / STATION WAGON,PASSENGER VEHICLE,NaN,NaN,NaN
3404577,03/13/2016 03:51,MANHATTAN,10016.0,40.745441,-73.975394,"(40.7454414, -73.9753944)",EAST 35 STREET,2 AVENUE,NaN,0,0,0,0,0,0,0,0,Unspecified,Unspecified,NaN,NaN,NaN,TAXI,TAXI,NaN,NaN,NaN
3404631,03/13/2016 00:50,MANHATTAN,10032.0,40.844680,-73.938853,"(40.84468, -73.9388533)",WEST 173 STREET,BROADWAY,NaN,0,0,0,0,0,0,0,0,Unspecified,Unspecified,NaN,NaN,NaN,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN
3405107,03/13/2016 06:20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0,0,0,0,Driver Inattention/Distraction,Unspecified,NaN,NaN,NaN,PASSENGER VEHICLE,VAN,NaN,NaN,NaN
3404753,03/13/2016 06:14,BROOKLYN,11226.0,40.639987,-73.948413,"(40.6399867, -73.9484129)",NOSTRAND AVENUE,NEWKIRK AVENUE,NaN,1,0,0,0,0,0,1,0,Passenger Distraction,Unspecified,Unspecified,NaN,NaN,PASSENGER VEHICLE,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN
3405099,03/13/2016 10:30,NaN,NaN,40.642540,-73.876511,"(40.6425396, -73.8765111)",NaN,NaN,NaN,0,0,0,0,0,0,0,0,Unspecified,Unspecified,NaN,NaN,NaN,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN
3404657,03/13/2016 09:55,NaN,NaN,NaN,NaN,NaN,ROSEDALE AVENUE,RANDALL AVENUE,NaN,0,0,0,0,0,0,0,0,Unspecified,Unspecified,NaN,NaN,NaN,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN
3404944,03/13/2016 20:12,QUEENS,11374.0,40.724896,-73.855125,"(40.7248962, -73.8551251)",WETHEROLE STREET,67 AVENUE,NaN,1,0,0,0,1,0,0,0,Driver Inattention/Distraction,Unspecified,NaN,NaN,NaN,PASSENGER VEHICLE,BICYCLE,NaN,NaN,NaN
3405003,03/13/2016 20:00,QUEENS,11106.0,40.761356,-73.935389,"(40.7613564, -73.9353886)",21 STREET,35 AVENUE,NaN,1,0,0,0,0,0,1,0,Driver Inattention/Distraction,Unspecified,NaN,NaN,NaN,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN
3404880,03/13/2016 10:30,QUEENS,11422.0,40.663223,-73.733507,"(40.6632233, -73.7335072)",FRANCIS LEWIS BOULEVARD,248 STREET,NaN,0,0,0,0,0,0,0,0,Unspecified,Unspecified,NaN,NaN,NaN,PASSENGER VEHICLE,SPORT UTILITY / STATION WAGON,NaN,NaN,NaN
3405168,03/13/2016 20:00,NaN,NaN,NaN,NaN,NaN,ASTORIA BOULEVARD,29 STREET,NaN,0,0,0,0,0,0,0,0,Driver Inattention/Distraction,Unspecified,NaN,NaN,NaN,PASSENGER VEHICLE,UNKNOWN,NaN,NaN,NaN
3404597,03/13/2016 14:45,MANHATTAN,10023.0,40.775487,-73.982164,"(40.7754866, -73.9821639)",WEST 68 STREET,BROADWAY,NaN,0,0,0,0,0,0,0,0,Unspecified,Unspecified,NaN,NaN,NaN,SPORT UTILITY / STATION WAGON,TAXI,NaN,NaN,NaN
3405083,03/13/2016 20:00,BROOKLYN,11234.0,40.621719,-73.921360,"(40.6217185, -73.9213599)",EAST 56 STREET,AVENUE M,NaN,0,0,0,0,0,0,0,0,Driver Inattention/Distraction,Unspecified,NaN,NaN,NaN,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN
3404681,03/13/2016 01:57,BRONX,10452.0,40.838160,-73.923233,"(40.8381602, -73.9232326)",WEST 168 STREET,SHAKESPEARE AVENUE,NaN,0,0,0,0,0,0,0,0,Driver Inattention/Distraction,Unspecified,NaN,NaN,NaN,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN
3404628,03/13/2016 11:00,MANHATTAN,10039.0,40.829163,-73.937267,"(40.8291633, -73.9372668)",WEST 155 STREET,8 AVENUE,NaN,0,0,0,0,0,0,0,0,Other Electronic Device,NaN,NaN,NaN,NaN,PASSENGER VEHICLE,NaN,NaN,NaN,NaN
3405092,03/13/2016 21:35,BROOKLYN,11228.0,40.619990,-74.020593,"(40.6199896, -74.0205934)",7 AVENUE,84 STREET,NaN,0,0,0,0,0,0,0,0,Failure to Yield Right-of-Way,Unspecified,NaN,NaN,NaN,SPORT UTILITY / STATION WAGON,PASSENGER VEHICLE,NaN,NaN,NaN
3404661,03/13/2016 01:50,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0,0,0,0,Unspecified,NaN,NaN,NaN,NaN,SPORT UTILITY / STATION WAGON,NaN,NaN,NaN,NaN
3404591,03/13/2016 08:15,MANHATTAN,10065.0,40.768024,-73.970281,"(40.768024, -73.9702814)",5 AVENUE,EAST 65 STREET,NaN,1,0,0,0,1,0,0,0,Other Vehicular,Physical Disability,NaN,NaN,NaN,TAXI,BICYCLE,NaN,NaN,NaN
3405001,03/13/2016 15:20,QUEENS,11105.0,40.779280,-73.900874,"(40.7792798, -73.9008742)",37 STREET,19 AVENUE,NaN,0,0,0,0,0,0,0,0,Unspecified,Unspecified,NaN,NaN,NaN,PASSENGER VEHICLE,UNKNOWN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
264074,07/01/2012 12:43,QUEENS,11375.0,40.726078,-73.851670,"(40.7260776, -73.8516698)",QUEENS BOULEVARD,67 DRIVE,NaN,0,0,0,0,0,0,0,0,Driver Inexperience,Driver Inexperience,NaN,NaN,NaN,SMALL COM VEH(4 TIRES),PASSENGER VEHICLE,NaN,NaN,NaN
254996,07/01/2012 12:44,NaN,NaN,NaN,NaN,NaN,HORACE HARDING EXPRESSWAY,108 STREET,NaN,0,0,0,0,0,0,0,0,Unspecified,Unspecified,NaN,NaN,NaN,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN
32044,07/01/2012 13:18,MANHATTAN,10016.0,40.747067,-73.979237,"(40.747067, -73.9792374)",EAST 35 STREET,LEXINGTON AVENUE,NaN,0,0,0,0,0,0,0,0,Unspecified,Unspecified,NaN,NaN,NaN,PASSENGER VEHICLE,SPORT UTILITY / STATION WAGON,NaN,NaN,NaN
113548,07/01/2012 13:20,BROOKLYN,11235.0,40.577019,-73.964193,"(40.5770188, -73.9641927)",BRIGHTON BEACH AVENUE,BRIGHTON 3 STREET,NaN,0,0,0,0,0,0,0,0,Unspecified,Unspecified,NaN,NaN,NaN,SPORT UTILITY / STATION WAGON,SPORT UTILITY / STATION WAGON,NaN,NaN,NaN
55549,07/01/2012 13:20,MANHATTAN,10029.0,40.787223,-73.952058,"(40.7872227, -73.952058)",EAST 97 STREET,PARK AVENUE,NaN,0,0,0,0,0,0,0,0,Other Vehicular,Other Vehicular,NaN,NaN,NaN,PASSENGER VEHICLE,LIVERY VEHICLE,NaN,NaN,NaN
245560,07/01/2012 13:20,QUEENS,11354.0,40.765355,-73.817324,"(40.7653551, -73.8173235)",149 STREET,NORTHERN BOULEVARD,NaN,0,0,0,0,0,0,0,0,Unspecified,Unspecified,NaN,NaN,NaN,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN
245581,07/01/2012 14:55,QUEENS,11354.0,40.764711,-73.830686,"(40.7647112, -73.8306857)",35 AVENUE,LINDEN PLACE,NaN,0,0,0,0,0,0,0,0,Unspecified,Unspecified,NaN,NaN,NaN,VAN,SPORT UTILITY / STATION WAGON,NaN,NaN,NaN
255000,07/01/2012 17:25,QUEENS,11368.0,40.741984,-73.861187,"(40.7419843, -73.8611867)",101 STREET,CHRISTIE AVENUE,NaN,0,0,0,0,0,0,0,0,Unspecified,Unspecified,NaN,NaN,NaN,SPORT UTILITY / STATION WAGON,PASSENGER VEHICLE,NaN,NaN,NaN
284645,07/01/2012 17:26,STATEN ISLAND,10301.0,40.642120,-74.075237,"(40.6421201, -74.0752374)",BAY STREET,RICHMOND TERRACE,NaN,3,0,0,0,0,0,3,0,Unspecified,Unspecified,NaN,NaN,NaN,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN
147455,07/01/2012 17:30,BROOKLYN,11226.0,40.655340,-73.960698,"(40.6553404, -73.960698)",PARKSIDE AVENUE,PARKSIDE COURT,NaN,0,0,0,0,0,0,0,0,Unspecified,Unspecified,NaN,NaN,NaN,PASSENGER VEHICLE,SPORT UTILITY / STATION WAGON,NaN,NaN,NaN
135136,07/01/2012 17:30,BROOKLYN,11226.0,40.648924,-73.949372,"(40.6489241, -73.9493717)",SNYDER AVENUE,NOSTRAND AVENUE,NaN,0,0,0,0,0,0,0,0,Unspecified,Unspecified,NaN,NaN,NaN,OTHER,PASSENGER VEHICLE,NaN,NaN,NaN
63604,07/01/2012 17:30,MANHATTAN,10027.0,40.809491,-73.951663,"(40.8094906, -73.9516627)",WEST 124 STREET,8 AVENUE,NaN,0,0,0,0,0,0,0,0,Driver Inattention/Distraction,Unspecified,Unspecified,Unspecified,NaN,SPORT UTILITY / STATION WAGON,PASSENGER VEHICLE,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN
59632,07/01/2012 17:30,MANHATTAN,10035.0,40.807598,-73.937179,"(40.8075979, -73.9371788)",EAST 129 STREET,PARK AVENUE,NaN,1,0,0,0,0,0,1,0,Unspecified,Unspecified,NaN,NaN,NaN,SPORT UTILITY / STATION WAGON,PASSENGER VEHICLE,NaN,NaN,NaN
113563,07/01/2012 17:32,BROOKLYN,11235.0,40.579187,-73.964008,"(40.5791872, -73.9640079)",BRIGHTON 4 STREET,OCEANVIEW AVENUE,NaN,0,0,0,0,0,0,0,0,Unspecified,Unspecified,NaN,NaN,NaN,PASSENGER VEHICLE,SPORT UTILITY / STATION WAGON,NaN,NaN,NaN
238646,07/01/2012 17:35,QUEENS,11101.0,40.744733,-73.933589,"(40.7447332, -73.9335895)",VAN DAM STREET,THOMSON AVENUE,NaN,0,0,0,0,0,0,0,0,Unspecified,Unspecified,NaN,NaN,NaN,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN
76209,07/01/2012 17:35,NaN,NaN,NaN,NaN,NaN,NaN,NaN,GAS LOT-925 HUNTS POINT AV,0,0,0,0,0,0,0,0,Unspecified,Unspecified,NaN,NaN,NaN,PASSENGER VEHICLE,SMALL COM VEH(4 TIRES),NaN,NaN,NaN
25,07/01/2012 18:00,MANHATTAN,10007.0,40.713692,-74.013754,"(40.7136919, -74.0137542)",WEST STREET,VESEY STREET,NaN,0,0,0,0,0,0,0,0,Driver Inattention/Distraction,Unspecified,NaN,NaN,NaN,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN
213210,07/01/2012 18:00,QUEENS,11385.0,40.704392,-73.875255,"(40.7043917, -73.8752554)",78 AVENUE,74 STREET,NaN,1,0,0,0,0,0,1,0,Following Too Closely,Unspecified,Unspecified,NaN,NaN,SPORT UTILITY / STATION WAGON,SPORT UTILITY / STATION WAGON,PASSENGER VEHICLE,NaN,NaN
3096744,07/01/2012 18:00,NaN,NaN,40.666406,-73.802622,"(40.6664063, -73.8026224)",NaN,NaN,NaN,1,0,0,0,0,0,1,0,Unspecified,Unspecified,NaN,NaN,NaN,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN
88542,07/01/2012 18:00,BRONX,10475.0,40.868771,-73.831733,"(40.8687708, -73.8317333)",BAYCHESTER AVENUE,BARTOW AVENUE,NaN,2,0,0,0,0,0,2,0,Unspecified,Unspecified,NaN,NaN,NaN,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN
116263,07/01/2012 18:20,NaN,NaN,NaN,NaN,NaN,EMMONS AVENUE,KNAPP STREET,NaN,0,0,0,0,0,0,0,0,Fatigued/Drowsy,Unspecified,NaN,NaN,NaN,SPORT UTILITY / STATION WAGON,SPORT UTILITY / STATION WAGON,NaN,NaN,NaN
135052,07/01/2012 19:10,BROOKLYN,11236.0,40.645032,-73.919978,"(40.6450318, -73.9199775)",CLARENDON ROAD,RALPH AVENUE,NaN,0,0,0,0,0,0,0,0,Unspecified,Unspecified,Unspecified,NaN,NaN,PASSENGER VEHICLE,SPORT UTILITY / STATION WAGON,PASSENGER VEHICLE,NaN,NaN
238645,07/01/2012 19:10,QUEENS,11377.0,40.734864,-73.906609,"(40.7348636, -73.906609)",52 AVENUE,59 STREET,NaN,0,0,0,0,0,0,0,0,Unspecified,Unspecified,NaN,NaN,NaN,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN
179416,07/01/2012 19:13,BROOKLYN,11206.0,40.694231,-73.946077,"(40.6942307, -73.9460774)",TOMPKINS AVENUE,WILLOUGHBY AVENUE,NaN,0,0,0,0,0,0,0,0,Unspecified,Unspecified,NaN,NaN,NaN,SPORT UTILITY / STATION WAGON,UNKNOWN,NaN,NaN,NaN
179419,07/01/2012 19:13,BROOKLYN,11206.0,40.694231,-73.946077,"(40.6942307, -73.9460774)",TOMPKINS AVENUE,WILLOUGHBY AVENUE,NaN,0,0,0,0,0,0,0,0,Unspecified,Unspecified,NaN,NaN,NaN,PASSENGER VEHICLE,UNKNOWN,NaN,NaN,NaN
233146,07/01/2012 19:30,NaN,NaN,NaN,NaN,NaN,172 STREET,GRAND CENTRAL PARKWAY,NaN,1,0,0,0,0,0,1,0,Driver Inattention/Distraction,Unspecified,NaN,NaN,NaN,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN
21675,07/01/2012 19:35,MANHATTAN,10003.0,40.737797,-73.990123,"(40.7377967, -73.9901235)",EAST 18 STREET,BROADWAY,NaN,0,0,0,0,0,0,0,0,Turning Improperly,Unspecified,NaN,NaN,NaN,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN
2840708,07/01/2012 20:20,NaN,NaN,40.757669,-73.959145,"(40.7576691, -73.9591454)",NaN,NaN,NaN,0,0,0,0,0,0,0,0,Unspecified,Unspecified,NaN,NaN,NaN,PASSENGER VEHICLE,SPORT UTILITY / STATION WAGON,NaN,NaN,NaN
245565,07/01/2012 22:15,QUEENS,11354.0,40.767754,-73.831924,"(40.7677542, -73.8319235)",LINDEN PLACE,32 AVENUE,NaN,1,0,0,0,0,0,1,0,Unspecified,Unspecified,NaN,NaN,NaN,MOTORCYCLE,UNKNOWN,NaN,NaN,NaN
80828,07/01/2012 22:20,BRONX,10473.0,40.823191,-73.855312,"(40.8231912, -73.8553122)",TURNBULL AVENUE,PUGSLEY AVENUE,NaN,1,0,0,0,1,0,0,0,Unspecified,Unspecified,NaN,NaN,NaN,PASSENGER VEHICLE,BICYCLE,NaN,NaN,NaN

It would be far too costly to complete the record by geocoding every single missing geographic entry in the dataset, so instead we will geocode only the ones that we absolutely need: reports which resulted in injuries or deaths.

Spot-estimated geocoding API usage for all Injury OR Death reports in the dataset: this eats up to half of the Google Geocoding API's 25000 daily requests rate limit.

This is an estimate of the number of incident records in the dataset which result in injuries or deaths but are filed without coordinate data.

In [60]:
(15/1000)*len(df)

11535.81

Spot-estimated geocoding API usage for all Death (ONLY) reports in the dataset. Incomplete records of deaths occur two orders of magnitude less often than those of injuries.

This is an estimate of the number of incident records in the dataset which result in deaths but are filed without coordinate data.

In [61]:
(2/10000)*len(df)

153.8108

With ~12000 records outstanding, it seems reasonable to assume that injurous accident coordinate data is underfiled with approximately the same distribution as non-injurous accident unfiling.

Said another way, there are so many records outstanding that we can simply assume that those records which *do* have coordinate data are a representative sample of records missing that data.

Any summary statistics that we gather based on geographical coordinality (borough, district, etc.) will be significant undercounts, but will nevertheless be a more than acceptable enough sample from which to draw conclusions about the underlying data.

At issue is the fact that the data on "Injuries" is plenty but that on "Deaths" is scarce.

With this in mind, I decided to procede by leaving "Injuries" on the side and populating coordinate data only for "Deaths".

In [62]:
def geolocate(srs):
    """
    Pandas ufunc which operates on a Pandas series, applying geolocation to tag coordinates from street name.
    Handles a variety of inputs:
    (PERSONS KILLED = 0) -> Does nothing.
    (PERSONS KILLED > 0, LOCATION defined, ON STREET NAME any, OFF STREET NAME any, CROSS STREET NAME any) -> Does nothing.
    (PERSONS KILLED > 0, LOCATION undef, ON STREET NAME def, OFF STREET NAME def, CROSS STREET NAME any) -> Geolocates using ON STREET and OFF STREET.
    (PERSONS KILLED > 0, LOCATION undef, ON STREET NAME undef, OFF STREET NAME undef, CROSS STREET NAME undef) -> Does nothing.*
    (PERSONS KILLED > 0, LOCATION undef, ON STREET NAME undef, OFF STREET NAME undef, CROSS STREET NAME def) -> Does nothing.**

    *  A cleanup step in the after stage might then remove these entries.
    ** This was found to be too unreliable to be worth trying.
    """
    on_street = srs['ON STREET NAME']
    cross_street = srs['CROSS STREET NAME']
    off_street = srs['OFF STREET NAME']
#     if str(srs['LOCATION']) == 'nan' and (srs['NUMBER OF PERSONS INJURED'] > 0 or srs['NUMBER OF PERSONS KILLED'] > 0):
    if str(srs['LOCATION']) == 'nan' and (srs['NUMBER OF PERSONS KILLED'] > 0):
        if str(on_street) != 'nan' and str(cross_street) != 'nan':
            g = geocoder.google('{0} and {1}, New York City'.format(on_street, cross_street))
            if g.status == 'ZERO_RESULTS':
                # Fail.
                pass
            # Success!
            srs['LOCATION'] = g.latlng
            srs['LATITUDE'] = g.latlng[0]
            srs['LONGITUDE'] = g.latlng[1]
#             print('{0} and {1}, New York City -> {2}'.format(on_street, cross_street, g.latlng))
        elif str(off_street) != 'nan':
            # off_street was found to be too inaccurate to be reliably returned.
            # Fail.
            pass
#             g = geocoder.google('{0}, New York City'.format(off_street))
#             if g.status == 'ZERO_RESULTS':
#                 pass
#             else:
#                 srs['LOCATION'] = g.latlng
        else:
            # Fail.
            pass
    return srs

In [63]:
filtered_fitted_df = filtered_df.copy()
filtered_fitted_df = filtered_fitted_df.apply(geolocate, axis=1)

In [64]:
filtered_fitted_df[filtered_fitted_df['NUMBER OF PERSONS KILLED'] > 0]

,DATETIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,LOCATION,ON STREET NAME,CROSS STREET NAME,OFF STREET NAME,NUMBER OF PERSONS INJURED,NUMBER OF PERSONS KILLED,NUMBER OF PEDESTRIANS INJURED,NUMBER OF PEDESTRIANS KILLED,NUMBER OF CYCLIST INJURED,NUMBER OF CYCLIST KILLED,NUMBER OF MOTORIST INJURED,NUMBER OF MOTORIST KILLED,CONTRIBUTING FACTOR VEHICLE 1,CONTRIBUTING FACTOR VEHICLE 2,CONTRIBUTING FACTOR VEHICLE 3,CONTRIBUTING FACTOR VEHICLE 4,CONTRIBUTING FACTOR VEHICLE 5,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2,VEHICLE TYPE CODE 3,VEHICLE TYPE CODE 4,VEHICLE TYPE CODE 5
UNIQUE KEY,,,,,,,,,,,,,,,,,,,,,,,,,,,
3404362,03/11/2016 13:53,NaN,NaN,40.741691,-73.735405,"(40.7416909, -73.7354052)",NaN,NaN,NaN,3,1,0,0,0,0,3,1,Tire Failure/Inadequate,Unspecified,NaN,NaN,NaN,SPORT UTILITY / STATION WAGON,SPORT UTILITY / STATION WAGON,NaN,NaN,NaN
3403859,03/11/2016 08:17,QUEENS,11368.0,40.754707,-73.854786,"(40.7547066, -73.854786)",37 AVENUE,113 STREET,NaN,0,1,0,1,0,0,0,0,Unspecified,NaN,NaN,NaN,NaN,SPORT UTILITY / STATION WAGON,NaN,NaN,NaN,NaN
3402892,03/10/2016 19:27,BRONX,10452.0,40.835432,-73.923398,"(40.835432, -73.9233984)",JEROME AVENUE,SHAKESPEARE AVENUE,NaN,0,1,0,1,0,0,0,0,Unspecified,NaN,NaN,NaN,NaN,VAN,NaN,NaN,NaN,NaN
3400502,03/06/2016 11:29,NaN,NaN,40.843284,-73.837076,"[40.8432843, -73.8370762]",WESTCHESTER AVENUE,HUTCHINSON RIVER PARKWAY EAST,NaN,0,1,0,0,0,0,0,1,Unspecified,NaN,NaN,NaN,NaN,PASSENGER VEHICLE,NaN,NaN,NaN,NaN
3399154,03/03/2016 02:28,STATEN ISLAND,10305.0,40.601204,-74.065076,"(40.6012042, -74.0650758)",NARROWS ROAD SOUTH,LILY POND AVENUE,NaN,0,1,0,0,0,0,0,1,Following Too Closely,NaN,NaN,NaN,NaN,PASSENGER VEHICLE,NaN,NaN,NaN,NaN
3396423,02/29/2016 08:34,MANHATTAN,10016.0,40.749049,-73.982023,"(40.7490492, -73.982023)",EAST 36 STREET,MADISON AVENUE,NaN,0,1,0,1,0,0,0,0,Failure to Yield Right-of-Way,NaN,NaN,NaN,NaN,LIVERY VEHICLE,NaN,NaN,NaN,NaN
3396263,02/28/2016 04:40,QUEENS,11419.0,40.682461,-73.830015,"(40.6824607, -73.8300148)",111 STREET,107 AVENUE,NaN,0,1,0,0,0,0,0,1,Driver Inattention/Distraction,Unspecified,NaN,NaN,NaN,UNKNOWN,OTHER,NaN,NaN,NaN
3396155,02/28/2016 04:56,BROOKLYN,11215.0,40.669172,-73.986305,"(40.6691717, -73.9863054)",5 AVENUE,9 STREET,NaN,0,1,0,1,0,0,0,0,Physical Disability,NaN,NaN,NaN,NaN,PASSENGER VEHICLE,NaN,NaN,NaN,NaN
3396249,02/28/2016 04:40,QUEENS,11419.0,40.682461,-73.830015,"(40.6824607, -73.8300148)",111 STREET,107 AVENUE,NaN,0,1,0,1,0,0,0,0,Driver Inattention/Distraction,Unspecified,NaN,NaN,NaN,UNKNOWN,SPORT UTILITY / STATION WAGON,NaN,NaN,NaN
3396507,02/28/2016 23:28,BRONX,10462.0,40.835721,-73.855646,"(40.8357212, -73.8556463)",UNIONPORT ROAD,MCGRAW AVENUE,NaN,0,1,0,1,0,0,0,0,Passenger Distraction,NaN,NaN,NaN,NaN,SPORT UTILITY / STATION WAGON,NaN,NaN,NaN,NaN
3395981,02/28/2016 01:25,NaN,NaN,40.844456,-73.902825,"[40.8444559, -73.9028254]",WEBSTER AVENUE,CROSS BRONX EXPRESSWAY,NaN,0,1,0,1,0,0,0,0,Unspecified,NaN,NaN,NaN,NaN,SPORT UTILITY / STATION WAGON,NaN,NaN,NaN,NaN
3392707,02/22/2016 06:39,NaN,NaN,NaN,NaN,NaN,NaN,NaN,RAMBLES PEDESTRIAN PATH,0,1,0,0,0,0,0,1,Driver Inattention/Distraction,NaN,NaN,NaN,NaN,VAN,NaN,NaN,NaN,NaN
3391962,02/20/2016 04:21,NaN,NaN,40.678997,-73.729789,"(40.6789969, -73.7297895)",NaN,NaN,NaN,0,2,0,0,0,0,0,2,Alcohol Involvement,NaN,NaN,NaN,NaN,PASSENGER VEHICLE,NaN,NaN,NaN,NaN
3389878,02/16/2016 17:39,STATEN ISLAND,10306.0,40.572908,-74.137044,"(40.5729078, -74.1370436)",RICHMOND ROAD,ANDREWS AVENUE,NaN,0,1,0,0,0,1,0,0,Unspecified,Unspecified,NaN,NaN,NaN,SPORT UTILITY / STATION WAGON,BICYCLE,NaN,NaN,NaN
3389717,02/15/2016 04:50,NaN,NaN,40.664959,-73.822248,"(40.6649593, -73.8222478)",NaN,NaN,NaN,0,1,0,0,0,0,0,1,Unspecified,NaN,NaN,NaN,NaN,SPORT UTILITY / STATION WAGON,NaN,NaN,NaN,NaN
3387726,02/12/2016 10:02,MANHATTAN,10018.0,40.757694,-74.000585,"(40.7576938, -74.0005848)",11 AVENUE,WEST 37 STREET,NaN,0,1,0,1,0,0,0,0,Failure to Yield Right-of-Way,NaN,NaN,NaN,NaN,LARGE COM VEH(6 OR MORE TIRES),NaN,NaN,NaN,NaN
3387100,02/11/2016 18:42,MANHATTAN,10013.0,40.721968,-74.008233,"(40.7219679, -74.0082326)",HUDSON STREET,LAIGHT STREET,NaN,0,1,0,0,0,1,0,0,Physical Disability,Unspecified,NaN,NaN,NaN,LARGE COM VEH(6 OR MORE TIRES),BICYCLE,NaN,NaN,NaN
3387199,02/10/2016 20:48,MANHATTAN,10032.0,40.839178,-73.941135,"(40.839178, -73.9411352)",BROADWAY,WEST 165 STREET,NaN,0,1,0,1,0,0,0,0,Failure to Yield Right-of-Way,NaN,NaN,NaN,NaN,OTHER,NaN,NaN,NaN,NaN
3386957,02/10/2016 12:16,QUEENS,11385.0,40.696669,-73.886810,"(40.6966689, -73.8868099)",CYPRESS HILLS STREET,80 AVENUE,NaN,1,1,0,0,0,0,1,1,Traffic Control Disregarded,NaN,NaN,NaN,NaN,PASSENGER VEHICLE,NaN,NaN,NaN,NaN
3386964,02/10/2016 00:17,QUEENS,11422.0,40.665614,-73.735671,"(40.6656136, -73.7356712)",SUNRISE HIGHWAY,FRANCIS LEWIS BOULEVARD,NaN,0,1,0,1,0,0,0,0,Driver Inattention/Distraction,NaN,NaN,NaN,NaN,VAN,NaN,NaN,NaN,NaN
3384663,02/06/2016 10:14,BROOKLYN,11212.0,40.654224,-73.915306,"(40.6542235, -73.9153065)",LINDEN BOULEVARD,EAST 95 STREET,NaN,0,1,0,1,0,0,0,0,Traffic Control Disregarded,Unspecified,NaN,NaN,NaN,PASSENGER VEHICLE,SPORT UTILITY / STATION WAGON,NaN,NaN,NaN
3384726,02/05/2016 18:34,BROOKLYN,11213.0,40.677563,-73.933080,"(40.6775631, -73.9330796)",ATLANTIC AVENUE,SCHENECTADY AVENUE,NaN,2,1,1,1,0,0,1,0,Traffic Control Disregarded,Unspecified,Unspecified,Unspecified,Unspecified,BUS,PASSENGER VEHICLE,SPORT UTILITY / STATION WAGON,SPORT UTILITY / STATION WAGON,SPORT UTILITY / STATION WAGON
3382850,02/03/2016 06:23,BROOKLYN,11219.0,40.623680,-73.997713,"(40.6236805, -73.9977125)",65 STREET,NEW UTRECHT AVENUE,NaN,0,1,0,1,0,0,0,0,Unspecified,NaN,NaN,NaN,NaN,VAN,NaN,NaN,NaN,NaN
3380030,01/30/2016 03:49,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,1,1,1,0,0,0,0,Alcohol Involvement,Driver Inattention/Distraction,NaN,NaN,NaN,PASSENGER VEHICLE,PICK-UP TRUCK,NaN,NaN,NaN
3379019,01/28/2016 13:04,BROOKLYN,11214.0,40.601442,-74.001545,"(40.6014422, -74.0015449)",BATH AVENUE,20 AVENUE,NaN,0,1,0,1,0,0,0,0,Failure to Yield Right-of-Way,NaN,NaN,NaN,NaN,PASSENGER VEHICLE,NaN,NaN,NaN,NaN
3375597,01/22/2016 09:21,QUEENS,11356.0,40.784190,-73.845810,"(40.78419, -73.8458097)",COLLEGE POINT BOULEVARD,15 AVENUE,NaN,0,1,0,1,0,0,0,0,Unspecified,NaN,NaN,NaN,NaN,SMALL COM VEH(4 TIRES),NaN,NaN,NaN,NaN
3374572,01/21/2016 19:27,NaN,NaN,40.748351,-73.967859,"(40.7483506, -73.967859)",NaN,NaN,NaN,0,1,0,1,0,0,0,0,Unspecified,NaN,NaN,NaN,NaN,PASSENGER VEHICLE,NaN,NaN,NaN,NaN
3373336,01/19/2016 17:03,BROOKLYN,11223.0,40.598205,-73.962104,"(40.5982053, -73.9621036)",AVENUE U,EAST 9 STREET,NaN,0,1,0,0,0,1,0,0,Unspecified,NaN,NaN,NaN,NaN,LARGE COM VEH(6 OR MORE TIRES),NaN,NaN,NaN,NaN
3373300,01/18/2016 09:44,BRONX,10461.0,40.853808,-73.855278,"(40.8538084, -73.8552781)",NEILL AVENUE,TOMLINSON AVENUE,NaN,0,1,0,0,0,1,0,0,Unspecified,Unspecified,NaN,NaN,NaN,PASSENGER VEHICLE,BICYCLE,NaN,NaN,NaN
3372149,01/16/2016 11:43,STATEN ISLAND,10312.0,40.526641,-74.168132,"(40.5266411, -74.1681321)",HYLAN BOULEVARD,ALLEN PLACE,NaN,1,1,0,0,0,0,1,1,Unspecified,Unspecified,NaN,NaN,NaN,MOTORCYCLE,SPORT UTILITY / STATION WAGON,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
273143,08/20/2012 08:31,QUEENS,11377.0,40.762385,-73.903433,"(40.7623853, -73.9034334)",BOROUGH PLACE,BULOVA AVENUE,NaN,0,1,0,1,0,0,0,0,Unspecified,NaN,NaN,NaN,NaN,BUS,NaN,NaN,NaN,NaN
85431,08/14/2012 14:58,NaN,NaN,40.840288,-73.921338,"[40.8402877, -73.9213381]",GRANT HIGHWAY,WEST 170 STREET,NaN,0,1,0,0,0,0,0,1,Driver Inattention/Distraction,NaN,NaN,NaN,NaN,MOTORCYCLE,NaN,NaN,NaN,NaN
2853447,08/11/2012 22:30,NaN,NaN,40.791407,-73.935678,"(40.7914069, -73.9356781)",NaN,NaN,NaN,0,1,0,0,0,0,0,1,Aggressive Driving/Road Rage,Unspecified,NaN,NaN,NaN,MOTORCYCLE,PASSENGER VEHICLE,NaN,NaN,NaN
76398,08/11/2012 12:18,BRONX,10474.0,40.812077,-73.886805,"(40.8120773, -73.8868051)",RANDALL AVENUE,COSTER STREET,NaN,2,1,0,0,0,0,2,1,Unspecified,Unspecified,NaN,NaN,NaN,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN
144898,08/10/2012 20:25,BROOKLYN,11236.0,40.642004,-73.898830,"(40.6420041, -73.8988296)",ROCKAWAY PARKWAY,AVENUE J,NaN,0,1,0,1,0,0,0,0,Unspecified,Unspecified,NaN,NaN,NaN,PASSENGER VEHICLE,SPORT UTILITY / STATION WAGON,NaN,NaN,NaN
12320,08/09/2012 22:30,MANHATTAN,10002.0,40.721644,-73.989130,"(40.7216438, -73.9891302)",ALLEN STREET,STANTON STREET,NaN,0,1,0,1,0,0,0,0,Unspecified,NaN,NaN,NaN,NaN,OTHER,NaN,NaN,NaN,NaN
38108,08/09/2012 09:00,MANHATTAN,10022.0,40.761668,-73.974916,"(40.7616682, -73.9749156)",WEST 55 STREET,5 AVENUE,NaN,0,1,0,1,0,0,0,0,Unspecified,NaN,NaN,NaN,NaN,SPORT UTILITY / STATION WAGON,NaN,NaN,NaN,NaN
130180,08/08/2012 02:09,BROOKLYN,11204.0,40.618799,-73.983488,"(40.6187991, -73.9834881)",20 AVENUE,61 STREET,NaN,3,1,0,0,0,0,3,1,Unspecified,Unspecified,Unspecified,Unspecified,NaN,LARGE COM VEH(6 OR MORE TIRES),SPORT UTILITY / STATION WAGON,PASSENGER VEHICLE,SPORT UTILITY / STATION WAGON,NaN
156067,08/06/2012 19:05,BROOKLYN,11220.0,40.647123,-74.015160,"(40.6471227, -74.0151603)",51 STREET,3 AVENUE,NaN,0,1,0,1,0,0,0,0,Physical Disability,NaN,NaN,NaN,NaN,PASSENGER VEHICLE,NaN,NaN,NaN,NaN
285012,08/04/2012 12:28,NaN,NaN,40.637749,-74.076869,"[40.6377491, -74.07686919999999]",BAY STREET,VICTORY BOULEVARD,NaN,0,1,0,1,0,0,0,0,Unspecified,NaN,NaN,NaN,NaN,BUS,NaN,NaN,NaN,NaN
293579,08/03/2012 16:00,STATEN ISLAND,10314.0,40.608833,-74.121170,"(40.6088332, -74.1211698)",MANOR ROAD,SCHMIDTS LANE,NaN,0,1,0,1,0,0,0,0,Unspecified,NaN,NaN,NaN,NaN,PASSENGER VEHICLE,NaN,NaN,NaN,NaN
194049,08/02/2012 00:08,BROOKLYN,11211.0,40.714691,-73.942688,"(40.7146912, -73.9426881)",METROPOLITAN AVENUE,HUMBOLDT STREET,NaN,0,1,0,1,0,0,0,0,Unspecified,NaN,NaN,NaN,NaN,LIVERY VEHICLE,NaN,NaN,NaN,NaN
55636,07/30/2012 19:50,MANHATTAN,10029.0,40.794233,-73.946946,"(40.7942333, -73.9469462)",EAST 108 STREET,PARK AVENUE,NaN,0,1,0,0,0,1,0,0,Unspecified,Unspecified,NaN,NaN,NaN,PASSENGER VEHICLE,BICYCLE,NaN,NaN,NaN
65072,07/30/2012 21:50,MANHATTAN,10031.0,40.828446,-73.941542,"(40.8284464, -73.9415422)",SAINT NICHOLAS PLACE,WEST 152 STREET,NaN,0,1,0,0,0,0,0,1,Traffic Control Disregarded,Unspecified,Unspecified,NaN,NaN,MOTORCYCLE,SPORT UTILITY / STATION WAGON,PASSENGER VEHICLE,NaN,NaN
284928,07/28/2012 00:45,STATEN ISLAND,10314.0,40.621429,-74.126427,"(40.6214289, -74.1264267)",COLLEGE AVENUE,CAROLINA PLACE,NaN,0,1,0,0,0,0,0,1,Unspecified,NaN,NaN,NaN,NaN,PASSENGER VEHICLE,NaN,NaN,NaN,NaN
160223,07/22/2012 20:48,BROOKLYN,11212.0,40.663106,-73.905174,"(40.6631059, -73.9051739)",MOTHER GASTON BOULEVARD,LIVONIA AVENUE,NaN,0,1,0,1,0,0,0,0,Passenger Distraction,NaN,NaN,NaN,NaN,PASSENGER VEHICLE,NaN,NaN,NaN,NaN
208863,07/22/2012 03:20,QUEENS,11418.0,40.697204,-73.813334,"(40.6972045, -73.8133341)",94 AVENUE,VAN WYCK EXPRESSWAY,NaN,3,5,0,0,0,0,3,5,Traffic Control Disregarded,NaN,NaN,NaN,NaN,SPORT UTILITY / STATION WAGON,NaN,NaN,NaN,NaN
268241,07/21/2012 20:08,QUEENS,11434.0,40.685279,-73.772400,"(40.6852789, -73.7723999)",MERRICK BOULEVARD,VICTORIA ROAD,NaN,0,1,0,0,0,0,0,1,Traffic Control Disregarded,Unspecified,NaN,NaN,NaN,MOTORCYCLE,SPORT UTILITY / STATION WAGON,NaN,NaN,NaN
238815,07/18/2012 22:51,QUEENS,11104.0,40.739064,-73.926158,"(40.7390635, -73.9261579)",GREENPOINT AVENUE,39 PLACE,NaN,0,1,0,0,0,1,0,0,Unspecified,Unspecified,Unspecified,NaN,NaN,UNKNOWN,BICYCLE,TAXI,NaN,NaN
95006,07/16/2012 23:17,BRONX,10467.0,40.878645,-73.871598,"(40.8786453, -73.871598)",WEBSTER AVENUE,EAST GUN HILL ROAD,NaN,2,1,0,0,0,0,2,1,Traffic Control Disregarded,Unspecified,NaN,NaN,NaN,PASSENGER VEHICLE,SPORT UTILITY / STATION WAGON,NaN,NaN,NaN
130032,07/16/2012 10:35,BROOKLYN,11223.0,40.609674,-73.965223,"(40.609674, -73.9652232)",EAST 8 STREET,AVENUE P,NaN,0,1,0,0,0,0,0,1,Unspecified,Unspecified,NaN,NaN,NaN,MOTORCYCLE,PASSENGER VEHICLE,NaN,NaN,NaN
85246,07/14/2012 01:21,BRONX,10456.0,40.838722,-73.913771,"(40.8387216, -73.9137706)",GRAND CONCOURSE,EAST 170 STREET,NaN,2,1,1,1,0,0,1,0,Alcohol Involvement,Unspecified,NaN,NaN,NaN,SPORT UTILITY / STATION WAGON,SPORT UTILITY / STATION WAGON,NaN,NaN,NaN
57611,07/14/2012 21:20,MANHATTAN,10025.0,40.796597,-73.970370,"(40.7965967, -73.9703697)",BROADWAY,WEST 99 STREET,NaN,0,1,0,1,0,0,0,0,Unspecified,NaN,NaN,NaN,NaN,TAXI,NaN,NaN,NaN,NaN
109565,07/13/2012 23:18,BRONX,10467.0,40.878645,-73.871598,"(40.8786453, -73.871598)",WEBSTER AVENUE,EAST GUN HILL ROAD,NaN,0,1,0,0,0,1,0,0,Other Vehicular,Unspecified,Unspecified,NaN,NaN,PASSENGER VEHICLE,SPORT UTILITY / STATION WAGON,BICYCLE,NaN,NaN
88620,07/12/2012 00:57,BRONX,10461.0,40.843007,-73.848547,"(40.8430075, -73.8485467)",OVERING STREET,EAST TREMONT AVENUE,NaN,1,1,0,0,0,0,1,1,Unspecified,NaN,NaN,NaN,NaN,PASSENGER VEHICLE,NaN,NaN,NaN,NaN
3089477,07/10/2012 10:59,NaN,NaN,40.725176,-73.837379,"(40.725176, -73.8373787)",NaN,NaN,NaN,1,1,0,1,0,0,1,0,Alcohol Involvement,Unspecified,NaN,NaN,NaN,PASSENGER VEHICLE,LARGE COM VEH(6 OR MORE TIRES),NaN,NaN,NaN
163460,07/08/2012 21:54,BROOKLYN,11207.0,40.680665,-73.902622,"(40.6806649, -73.9026216)",BUSHWICK AVENUE,CONWAY STREET,NaN,0,1,0,1,0,0,0,0,Unspecified,NaN,NaN,NaN,NaN,PASSENGER VEHICLE,NaN,NaN,NaN,NaN
152388,07/05/2012 03:30,BROOKLYN,11225.0,40.662736,-73.957122,"(40.6627363, -73.9571216)",BEDFORD AVENUE,STERLING STREET,NaN,0,1,0,1,0,0,0,0,Driver Inattention/Distraction,Unspecified,NaN,NaN,NaN,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN
279655,07/03/2012 20:55,QUEENS,11369.0,40.764014,-73.881216,"(40.7640141, -73.8812156)",ASTORIA BOULEVARD,88 STREET,NaN,0,1,0,0,0,0,0,1,Traffic Control Disregarded,Unspecified,NaN,NaN,NaN,PASSENGER VEHICLE,MOTORCYCLE,NaN,NaN,NaN
179420,07/02/2012 16:30,BROOKLYN,11216.0,40.685846,-73.947310,"(40.685846, -73.9473101)",MARCY AVENUE,MONROE STREET,NaN,0,1,0,0,0,0,0,1,View Obstructed/Limited,Unspecified,NaN,NaN,NaN,FIRE TRUCK,OTHER,NaN,NaN,NaN

As established earlier, the data that we have is fundamentally an undercount. It's not practical to correct for this: there are simply too many records that need correcting for it to be possible. Instead we assume that coordinate data missingness is equidistributed against all of the accident locations--remember that there are so many such data points (>100,000) that there's way it could be otherwise.

In [65]:
undercount_percentage = len(filtered_df[filtered_df['LOCATION'].isnull()])/len(filtered_df)
undercount_percentage

0.1575793117258346

So the true values per intersection should be 15% higher than raw aggregation implies!

Handling this data transformation is a tricky problem. I see two approaches:

1. Create empty entries in our original dataset containing only coordinates data for those 15% of points. But such a creation of artificial data points would require also random proportional assignment of the other properties (vehicle, contributing factors, etc.) of the data points--this is far too much work.
2. Compressing the information into a per-coordinate `DataFrame(index=[LOCATION, LATITUDE, LONGITUDE, SUM OF PERSONS INJURED, ...])`. This approach will lose case-specific information on causal factors, but since this isn't the intent of our approach to this particular problem anyway, that's not an issue. This is a much more efficient solution.

Ok, let's do 2.

Easiest way to fix things that way?

Multiply by 1 + the value above in Tableau.

Done.

If only everything was this easy!!!

**Tableau technical note**: the `Annual Accident Rate` calculation in Tableau is `((COUNT([Unique Key])*365)/1352)*(1 + 0.1575)`. 

The `365/1352` multiple is a date adjustment that standardizes the data spread from "when the records begin to when the records end" (07/01/2012 to 03/14/2016, at the time of this analysis) into a yearly value. You will want to update that calculation accordingly yourself if you mess around with newer date.

The `(1 + 0.1575)` part is the accident occurance multiple that we arrived at using the process above. You probably don't need to change this multiple--data completeness "badness" doesn't budge over time, so the difference won't be statistically relevant enough to warrent the labor.

At this point the data is as complete as it can be. Save it.

In [22]:
filtered_fitted_df.to_csv('NYPD Motor Vehicle Collisions Enriched.csv')